* {
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}
/* nav */

.active {
  background-color: skyblue;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  margin: 50px;
  text-decoration: none;
}

nav li {
  display: block;
  margin: 1%;
}
li a {
  background-color: white;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: center;
}
li:hover {
  background: lightgray;
}

/* categry buttons */

#cat-btns-container button {
  background-color: #3c79e4;
  border: none;
  width: 150px;
  margin: 10px;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  border-radius: 4px;
}

#cat-btns-container button:hover {
  background-color: #2e62c1;
}

#cat-btns-container button:active {
  background-color: #1f47a0;
}

/* Search bar */

#search-bar {
  border-radius: 20px;
  border: none;
  width: 50%;
  padding: 10px;
  margin: 20px;
  transition: 0.3s ease-in-out;
}
#search-bar:focus {
  padding: 10px;
  margin: 20px;
  width: 60%;
}

/* Home */

.product {
  margin: 20px;
  padding: 5px;
  border: black;
  border-width: 2px;
  border-style: solid;
  border-color: #3c79e4;
  border-radius: 20px;
}

.product-image {
  max-width: 200px;
  height: 200px;
}

/* Shopping cart stuff */
#shopCart {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 70%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

table th {
  text-align: left;
}

table td {
  text-align: left;
}

.total {
  text-align: right;
  font-weight: bold;
}

.btn-add-cart {
  background-color: #3c79e4;
  border: none;
  width: 100px;
  margin: 10px;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  border-radius: 4px;
}

.empty-cart {
  text-align: center;
  color: #999;
}

#checkout-btn {
  background-color: #3c79e4;
  border: none;
  width: 150px;
  margin: 10px;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  border-radius: 4px;
}

/* about us */

header {
  background-color: #3c79e4;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
  text-align: center;
}

p {
  line-height: 1.6;
}

/*Contact us*/

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  border-radius: 5%;

  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Payment window style */
#app {
  max-width: 980px;
  margin: 10px auto;
  padding: 0 15px;
  text-align: center;
}
.container {
  max-width: 400px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.modal {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.modal .modal-container {
  margin: auto;
  background: #fff;
  padding: 10px;
  text-align: left;
  width: 85%;
  max-width: 500px;
  margin-top: 50px;
  position: relative;
  border-radius: 1.5rem;
}

.modal .header {
  font-weight: bolder;
  padding: 20px;
  border-bottom: 1px solid #0002;
  font-size: 20px;
}

.modal .header button {
  position: absolute;
  display: initial;
  width: 50px;
  height: 50px;
  right: 15px;
  top: 15px;
  border: none;
  border-radius: 1.2rem;
}

.modal .body {
  padding: 20px;
  font-size: 20px;
  min-height: 200px;
  text-align: left;
}
.modal .background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0007;
}
/* footer */

footer {
  height: 40px;
  width: 100%;
  background: skyblue;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}
